footer
  .container.text-center
    p.pull-left © 2015 HarryWesterman Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/harrywesterman/autosave') GitHub Project
      li
        a(href='https://github.com/harrywesterman/autosave/issues') Issues